.home
  Menu
  .cover 
  .about
    .left
      h2 Na sua#[br]festa
      p
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur sint pariatur hic repellendus magni consequatur adipisci ex velit. Aliquid repellendus a est voluptatibus non dolorum optio ipsam earum voluptate temporibus!
      router-link.hyperlink(to="lab") Quero fazer um orçamento
        font-awesome-icon.icon(icon="long-arrow-alt-right")
    .right

  .actions
    a.button.primary Nosso catálogo
    a.button.secondary Quero um orçamento 
    .newsletter
      label.newsletter(for="newsletter") Quero receber novidades
      .formGroup
        input#newsletter.newsletter(type="email" placeholder="E-mail")
        font-awesome-icon(icon="long-arrow-alt-right")